<main class="projects">
    <h1>Проєкти</h1>
        <div class="projects__content">
            <img class="projects__img" src="assets/dino_pic.jpg" alt="">
            <div>
                <h2 class="projects__title">Допомога ЗСУ</h2>
                <p>Тукст про це</p>
            </div>
        </div>
        <div class="projects__content">
            <img class="projects__img" src="assets/dino_pic.jpg" alt="">
            <div>
                <h2 class="projects__title">Допомога ЗСУ</h2>
                <p>Тукст про це</p>
            </div>
        </div>
            <app-charity-fundraiser class="projects__items"></app-charity-fundraiser>
        <div class="projects__content">
            <img class="projects__img" src="assets/dino_pic.jpg" alt="">
            <div>
                <h2 class="projects__title">Допомога ЗСУ</h2>
                <p>Тукст про це</p>
            </div>
        </div>
</main>