<main class="events">
    <h1 class="events__title">Події</h1>

    <div class="events__content--top">
        <span class="events__img"></span>
        <div class="events__inner">
            <h3>Заголовок новини</h3>
            <p>Текс про новину</p>
        </div>
    </div>
    <div class="events__content--top events__content--reverse">
        <span class="events__img"></span>
        <div class="events__inner">
            <h3>Заголовок новини</h3>
            <p>Текс про новину</p>
        </div>
    </div>

    <div class="events__content--bottom">
        <h2 class="events__title--medium">Відеозвіт</h2>
        <div class="events__items">
            <app-humanitarian-departure></app-humanitarian-departure>
        </div>
    </div>
</main>
