<main class="contacts">
        <h1 class="contacts__title">Контакти</h1>
        <div class="contacts__content">
            <div class="contacts__item--left">
                <p class="contacts__text">Графік роботи:
                    <br> 10:00 - 19:00
                </p>
                <p class="contacts__text">Телефон:
                </p>
                <p class="contacts__text">Email:
                </p>
                <p class="contacts__text">Юр. фдреса:</p>
                <a class="contacts__button">Зв'язатись з нами</a>
            </div>
            <div class="contacts__item--right">
                <iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9029.179008154564!2d30.50947348468003!3d50.451834274138974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5cd36aeb43%3A0x4cf2f9e43a8a6e7a!2z0J_QtdC50LfQsNC20L3QsCDQkNC70LXRjw!5e0!3m2!1sru!2spl!4v1732012410407!5m2!1sru!2spl"  marginheight="0" marginwidth="0" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
</main>