@import '../../styles/extends';

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 44px;
    font-family: $font-family-regular;
    letter-spacing: 0.08em;
    &__title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        background-color: $second-bg-color;
        width: 85vw;
        padding: 27px 38px;
        border-radius: 25px;
        .contacts__item--left {
            display: flex;
            flex-direction: column;
            align-items: left;
            .contacts__text {
                font-weight:900;
                font-size: 1rem;
                padding-bottom: 15px;
            }
            .contacts__text:last-of-type {
                padding-bottom: calc(69px - 15px);
            }
            .contacts__button {
                margin-top: 20px;
                width: 100%;
                padding: 10px 0;
                border: none;
                border-radius: 10px;
                background-color: $bg-button;
                padding: 5px 31px;
                font-size: 1rem;
                font-weight: 900;
                cursor: pointer;
                transition: background-color 0.3s;
                &:hover {
                        background: radial-gradient(circle, rgb(121, 125, 249) 0%, rgba(120,183,250,1) 35%, rgb(230, 252, 106) 100%);
                }
                @media(max-width: 768px) {
                    align-self: center;
                    text-align: center;
                    width: 80%;
                }
            }
        }

        .contacts__item--right {
            .contacts__map {
                width: 400px;
                height: 400px;
                border-radius: 100%;

            }
            @media(max-width: 768px) {
                display: flex;
                justify-content: center;
                .contacts__map {
                width: 300px;
                height: 300px;
                }
            }
        }
        
    @media(max-width: 768px) {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
}
}
}